* {
  margin: 0;
  padding: 0;
}

h1 {
  background-color:#CA5310;
  color:#FBBA72;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  top: 0;
  cursor: pointer;
}

.background {
  background: #CA5310;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  list-style: none;
  padding: 26px 30px;
}

.nav-list li a {
  text-decoration: none;
  color: #FBBA72;
}

.nav-list li a:hover {
  text-decoration: none;
  color: #CA5310;
  background-color: #FBBA72;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
}

.rightnav {
  width: 30%;
  text-align: right;
}

button {
  margin-left: 5px;
  height: 33px;
  width: 70px;
  color: #FBBA72;
  background-color: #CA5310;
  cursor: pointer;
  border-radius: 5px;
  border: solid;
}

button:focus {
  background-color:#FBBA72;
  color: #CA5310;
  cursor: pointer;
  border-radius: 5px;
  border: solid;
}

.app {
  width: 300px;
  justify-content: center;
}

.first {
  width: 300px;
}

.main {
  width: 300px;
}

.desserts {
  width: 300px;
}

.menu {
  width: 400px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.title {
  text-decoration-line: underline;
  font-weight: bold;
}

.summary {
  width: 300px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 15px;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}

.img2 {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
}

p {
  text-align: center;
}

.popup-button {
 width: 200px;
 display: block;
 margin: 0 auto;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 999;
  box-shadow: 0 0 10px;
  background-color: #691e06;
  color: #FBBA72;
  border-radius: 5px;
}
